In [22]:
import pandas as pd
import numpy as np
import requests
from astroquery.gaia import Gaia
from requests.packages.urllib3.exceptions import InsecureRequestWarning
import ssl
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import plotly.graph_objs as go
import plotly.io as pio

import astropy.units as u
from astropy.coordinates import SkyCoord

In [23]:
df = pd.read_csv("data/planetary_system.csv" , on_bad_lines='skip')
dtypes_df = pd.DataFrame(df.dtypes).reset_index()
dtypes_df.columns = ['Column', 'DataType']

pd.set_option('display.max_rows', None)  

print(dtypes_df)

pd.reset_option('display.max_rows')

             Column DataType
0           pl_name   object
1          hostname   object
2      default_flag    int64
3           sy_snum    int64
4           sy_pnum    int64
5   discoverymethod   object
6         disc_year    int64
7     disc_facility   object
8           soltype   object
9   pl_controv_flag    int64
10       pl_refname   object
11        pl_orbper  float64
12    pl_orbpererr1  float64
13    pl_orbpererr2  float64
14     pl_orbperlim  float64
15       pl_orbsmax  float64
16   pl_orbsmaxerr1  float64
17   pl_orbsmaxerr2  float64
18    pl_orbsmaxlim  float64
19          pl_rade  float64
20      pl_radeerr1  float64
21      pl_radeerr2  float64
22       pl_radelim  float64
23          pl_radj  float64
24      pl_radjerr1  float64
25      pl_radjerr2  float64
26       pl_radjlim  float64
27        pl_bmasse  float64
28    pl_bmasseerr1  float64
29    pl_bmasseerr2  float64
30     pl_bmasselim  float64
31        pl_bmassj  float64
32    pl_bmassjerr1  float64
33    pl_bmassjerr2  float64
34     pl_bmassjlim  float64
35     pl_bmassprov   object
36      pl_orbeccen  float64
37  pl_orbeccenerr1  float64
38  pl_orbeccenerr2  float64
39   pl_orbeccenlim  float64
40         pl_insol  float64
41     pl_insolerr1  float64
42     pl_insolerr2  float64
43      pl_insollim  float64
44           pl_eqt  float64
45       pl_eqterr1  float64
46       pl_eqterr2  float64
47        pl_eqtlim  float64
48         ttv_flag    int64
49       st_refname   object
50      st_spectype   object
51          st_teff  float64
52      st_tefferr1  float64
53      st_tefferr2  float64
54       st_tefflim  float64
55           st_rad  float64
56       st_raderr1  float64
57       st_raderr2  float64
58        st_radlim  float64
59          st_mass  float64
60      st_masserr1  float64
61      st_masserr2  float64
62       st_masslim  float64
63           st_met  float64
64       st_meterr1  float64
65       st_meterr2  float64
66        st_metlim  float64
67      st_metratio   object
68          st_logg  float64
69      st_loggerr1  float64
70      st_loggerr2  float64
71       st_logglim  float64
72       sy_refname   object
73            rastr   object
74               ra  float64
75           decstr   object
76              dec  float64
77          sy_dist  float64
78      sy_disterr1  float64
79      sy_disterr2  float64
80          sy_vmag  float64
81      sy_vmagerr1  float64
82      sy_vmagerr2  float64
83          sy_kmag  float64
84      sy_kmagerr1  float64
85      sy_kmagerr2  float64
86       sy_gaiamag  float64
87   sy_gaiamagerr1  float64
88   sy_gaiamagerr2  float64
89        rowupdate   object
90       pl_pubdate   object
91      releasedate   object

In [24]:
total_exoplanetas = df['pl_name'].nunique()
print(f"Número total de exoplanetas: {total_exoplanetas}")
nombre_exoplaneta = input('Ingresar planeta: ')
exoplaneta = df[df['pl_name'] == nombre_exoplaneta]
exoplaneta

Número total de exoplanetas: 5759

Ingresar planeta:  K2-22 b

,pl_name,hostname,default_flag,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
4597,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Candidate,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2019-09-05,2019-09,2019-09-05
4598,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Candidate,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2016-06-09,2016-08,2016-06-09
4599,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Confirmed,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2017-10-23,2017-11,2017-10-26
4600,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Confirmed,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2015-10-07,2015-10,2015-10-15
4601,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Candidate,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2015-12-05,2016-01,2015-12-05
4602,K2-22 b,K2-22,0,2,1,Transit,2015,K2,Published Confirmed,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2016-07-14,2016-09,2016-07-18
4603,K2-22 b,K2-22,1,2,1,Transit,2015,K2,Published Confirmed,0,...,-0.046,11.924,0.026,-0.026,14.9537,0.000777,-0.000777,2022-03-28,2021-08,2022-03-28

In [71]:
def buscar_exoplaneta(df, nombre_exoplaneta):
    exoplaneta = df[df['pl_name'] == nombre_exoplaneta]
    
    if not exoplaneta.empty:
        exoplaneta_confirmado = exoplaneta[exoplaneta['soltype'].str.contains('Published Confirmed', na=False)]
        
        if not exoplaneta_confirmado.empty:
            ultimo_exoplaneta = exoplaneta_confirmado.sort_values(by='rowupdate', ascending=False).iloc[0]
            sistema_planetario = exoplaneta['hostname']#.nunique()
            print(sistema_planetario)
            return ultimo_exoplaneta, sistema_planetario
    return None, None

In [72]:
exoplaneta_info, sistema_planetario = buscar_exoplaneta(df, nombre_exoplaneta)

if exoplaneta_info is not None:
    print(exoplaneta_info)
    print(f'El exoplaneta {nombre_exoplaneta} pertenece al sistema planetario: {sistema_planetario}')
else:
    print(f'No se encontró el exoplaneta {nombre_exoplaneta}.')

4597    K2-22
4598    K2-22
4599    K2-22
4600    K2-22
4601    K2-22
4602    K2-22
4603    K2-22
Name: hostname, dtype: object
pl_name              K2-22 b
hostname               K2-22
default_flag               1
sy_snum                    2
sy_pnum                    1
                     ...
sy_gaiamagerr1      0.000777
sy_gaiamagerr2     -0.000777
rowupdate         2022-03-28
pl_pubdate           2021-08
releasedate       2022-03-28
Name: 4603, Length: 92, dtype: object
El exoplaneta K2-22 b pertenece al sistema planetario: 4597    K2-22
4598    K2-22
4599    K2-22
4600    K2-22
4601    K2-22
4602    K2-22
4603    K2-22
Name: hostname, dtype: object

In [29]:


# Llamada a la función para obtener todos los datos alrededor de las coordenadas del exoplaneta
ra = exoplaneta['ra'].values[0]
dec = exoplaneta['dec'].values[0]
distancia= exoplaneta['sy_dist'].values[0]

# Definir el rango de distancias (en parsecs)
distancia_min = distancia - 100
distancia_max = distancia + 100

In [35]:
if not exoplaneta.empty:
    ra = exoplaneta['ra'].values[0] 
    dec = exoplaneta['dec'].values[0]
    distancia = exoplaneta['sy_dist'].values[0]  

    print(f"Coordenadas del exoplaneta {nombre_exoplaneta}:")
    print(f"RA: {ra} grados, Dec: {dec} grados, Distancia: {distancia} parsecs")
else:
    print("Exoplaneta no encontrado.")

Coordenadas del exoplaneta K2-22 b:
RA: 169.4827046 grados, Dec: 2.6190363 grados, Distancia: 243.836 parsecs

In [30]:
Gaia.MAIN_GAIA_TABLE = "gaiadr3.gaia_source"

In [ ]:
coord = SkyCoord(ra=ra, dec=dec, unit=(u.degree, u.degree), frame='icrs')

width = u.Quantity(20, u.deg)

height = u.Quantity(20, u.deg)

gaia_data = Gaia.query_object_async(coordinate=coord, width=width, height=height)

In [ ]:
Gaia.ROW_LIMIT = -1

#r.pprint(max_lines=12, max_width=1300)
for column in gaia_data.columns:

  print(column)

In [ ]:
print(gaia_data['ra'])

In [ ]:
def graficar_exoplaneta(exoplaneta, gaia_data):
    plt.figure(figsize=(10, 10))
    tamaño_puntos = gaia_data['phot_g_mean_flux'] * 0.0000005
    plt.scatter(gaia_data['ra'], gaia_data['dec'], 
                s=tamaño_puntos, color='blue', alpha=0.5, label='Estrellas de Gaia', marker= 'D')
    plt.scatter(exoplaneta['ra'], exoplaneta['dec'], color='red', s=1, label='Exoplaneta')

    # Etiquetas y título
    plt.title(f'Ubicación de {exoplaneta["pl_name"].values[0]}')
    plt.xlabel('RA (degrees)')
    plt.ylabel('Dec (degrees)')
    plt.legend()
    plt.grid(True)
    plt.show()

# Llamar a la función con los datos
graficar_exoplaneta(exoplaneta, gaia_data)

In [ ]:
# Función para graficar el exoplaneta y las estrellas más allá del exoplaneta (mantener 2D)
def graficar_exoplaneta_filtrado(exoplaneta, gaia_data):
    # Calcular las distancias en parsecs de las estrellas usando el paralaje
    gaia_data['distancia_pc'] = 1000 / gaia_data['parallax']
    
    # Calcular la distancia del exoplaneta en parsecs
    distancia_exoplaneta = exoplaneta['sy_dist'].values[0]
    
    # Filtrar las estrellas que están más lejos que el exoplaneta
    gaia_data_filtrado = gaia_data[gaia_data['distancia_pc'] > distancia_exoplaneta]

    # Graficar solo las estrellas más lejanas que el exoplaneta
    plt.figure(figsize=(10, 10))
    tamaño_puntos = gaia_data_filtrado['phot_g_mean_flux'] * 0.000001
    plt.scatter(gaia_data_filtrado['ra'], gaia_data_filtrado['dec'], 
                s=tamaño_puntos, color='blue', alpha=0.5, label='Estrellas de Gaia', marker= 'D')

    # Graficar el exoplaneta
    plt.scatter(exoplaneta['ra'], exoplaneta['dec'], color='red', s=50, label='Exoplaneta')

    # Etiquetas y título
    plt.title(f'Ubicación de {exoplaneta["pl_name"].values[0]}')
    plt.xlabel('RA (degrees)')
    plt.ylabel('Dec (degrees)')
    plt.legend()
    plt.grid(True)
    plt.show()

# Llamar a la función con los datos
graficar_exoplaneta_filtrado(exoplaneta, gaia_data)